<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dinner_cooker.name %>
</p>

<%= link_to 'Edit', edit_dinner_cooker_path(@dinner_cooker) %> |
<%= link_to 'Back', dinner_cookers_path %>
